*.iml
*.ipr
*.iws
.idea/
nbproject/
nbactions.xml
nb-configuration.xml

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

atlassian-ide-plugin.xml
Thumbs.db
